.jumbotron {
    background-color: rgb(44, 103, 110);
    color: aliceblue;
}

h1 {
    font-family: monospace;
    font-size: 5rem;
}

.team {
    background-color: rgb(125, 128, 131);
}

#cardbody {
    background-color: rgb(156, 158, 160);
    font-family: monospace;

}

.row {
    display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}

.card {
    padding: 15px;
border-radius: 6px;
background-color: white;
color: lightskyblue;
margin: 15px;
}

.text {
    padding: 15px;
border-radius: 6px;
background-color: lightskyblue;
color: black;
margin: 15px;
}

.col {
    flex: 1;
text-align: center;
}